*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto Condensed", sans-serif;;
    font-weight: 600;
}
header{
    background: linear-gradient(180deg,rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.5)),url(background.webp) no-repeat center/cover;
    background-attachment: fixed;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #660103;
    position: fixed;
    width: 100%;
}
.nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav ul li:hover{
    text-decoration: underline white;
}
#menu{
    display: none;
}
.hamburgar{
    display: none;
}
.blog{
    display: none;
}
.blog ul{
    display: flex;
    flex-direction: column;
}
.bl:hover .blog{
    display: block;
    position: absolute;
    background-color: #660103;
    text-align:center;
    padding: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.logo{
    color: white;
}
.contect button{
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 800;
    background-color: red;
    color: white;
    border: 2px solid white;
}
.contect button:hover{
opacity: 0.8;
}
 /* @media (max-width: 400px){
    .logo{
        font-size:5px;
    } 
 } */
 @media (max-width: 992px){
    .head{
        display: flex;
        align-items: center;
    }
    nav{
        display: none;
    }
    .contect{
        display: none;
    }
    .hamburgar{
        display: block;
        color:red;
        font-size: 25px;
    }
    #menu:checked ~nav{
        position: absolute;
        display: block;
        margin-top: 3%;
        background-color: #660103;
        left: 20%;
        width: 70vw;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    .bl:hover .blog{
        display: none;
    }
}
 
.head-content{
    padding: 35vh 7vw;
    color: white;
}
.head-content h1 span{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.5vmax;
    color:transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 6px;
}
.head-content h1{
    font-size:8.5vmax;
}
.head-content button{
    margin-top: 40px;
    padding: 15px 45px;
    background-color:transparent;
    color: white;
    border: 2px solid white;
    font-size: 20px;
}
.head-content button:hover {
    background-color: red;
}
.view-courses{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    text-align: center;
    width: 100%;
    background-color: black;
}
.group{
    border-radius: 50px;
     background: linear-gradient(180deg,rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.5)),url(tran2.png) no-repeat center/cover;
     width: 100%;
}
.pers{
    border-radius: 50px;
     background: linear-gradient(180deg,rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.5)),url(tran1.png) no-repeat center/cover;
     width: 100%;
}
 @media (max-width: 300px){
    .group{
        width: 50vmax;
    }
    .pers{
        width: 50vmax;
    }
 }
.view-courses h1{
    color: white;
    font-size: 2.5vmax;
    text-transform: uppercase;
    padding: 130px 0 25px;
    word-spacing: -5px;
}
.view-courses p{
    color: white;
    line-height: 30px;
    font-size: 15px;
}
.view-but{
    padding: 17px 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    margin: 30px 0 90px 0;
}
.offer{
    background-color: black;
}
.offer h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8vmax;
    color:transparent;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 100px 0;
    /* font-size: 200; */
}
.offer-img p{
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}
.offer-img h2{
    padding: 20px 0;
    font-size: 30px;
}
.offer-img img{
    width: 100%;
}
.offer-img{
    color: white;
    display: grid;
     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
     text-align: center;
     gap: 40px;
     margin: 0 60px;
}
@media(max-width: 430px){
    .offer-img{
        margin: auto;
    }
    .offer-img img{
        width: 70%;
    }
}
.img-container{
    background-color: black;
    padding: 0 50px; 
}
@media(max-width: 330px){
    .img-container{
        padding: 0;
    }

}
.images-1{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: 500px;
    gap: 40px; 
    
}
.images-2{
    padding-top: 30px;
    display: grid;
     grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows:500px;
     gap: 40px;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.pricing{
    background-color: black;
}
.pricing h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8vmax;
    color:transparent;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 80px 0 40px 0;
}
.pricing-contain{
    color: white;
    border: 1px solid white;
    padding: 40px 20px;
}
.pricing-contain .pricing-icon{
    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-contain .pricing-icon i{
    z-index: 1;
    color: white;
    font-size: 3em;
    transform:rotate(-50deg)
}
.pricing-text h3{
    font-size:xx-large;
    padding: 30px 0;
}
.pricing-text h3 .sin-class{
    font-size:15px;
}
.pricing-text h3 .amount{
    color: red;
}
.pricing-text p .tick{
    color: red;
    padding-right: 20px;
    font-weight: 200;
}
.pricing-text p{
    font-size: 1.5vmax;
    line-height: 50px;
}
.pricing-text button{
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: 15px 60px;
    font-size: 1.5vmax;
}
.pricing-text .pric-butt{
    text-align: center;
    padding-top: 30px;
}
.pricing-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    margin: 0 60px;
}
@media(max-width: 330px){
    .pricing-cont{
        width: 200px;
        margin: auto;
    }
}
.about-me{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 100px;
}
.about-container{
     padding: 45px 60px;
    background-color: black;
}
@media(max-width: 520px){
    .about-container{
        padding: 0;
        margin: auto;
    }
    .about-me{
        gap: 50px;
        padding: 50px 0;
        justify-content: center;
    }
}
.about-me .about-img{
    width: 45vw;
    margin: auto;
}
.about-img img{
    width: 100%;
}
.about-text h1{
    color: white;
    font-size: 4.5vmax;
}
.about-text{
    margin: auto;
}
.about-text p{
    color: white;
    padding-top:30px ;
    font-size: 1.2vmax;
    line-height: 30px;
}
.about-text button{
    padding: 2vmin 5vmin;
    font-size: 1.2em;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-top: 40px;
    text-align: center;
}
.from-blog{
    background-color: black;
    /* text-align: center; */
    margin: auto;
}
.from-blog h1{
     font-family: 'Bebas Neue', sans-serif;
    font-size: 8vmax;
    color:transparent;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 10px 0 50px 0;
}
.gym-fit img{
    width: 100%;
}
.gym-fit-2 img{
    width: 100%;
}
.gym-fit{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    /* text-align: center; */
    gap: 20px;
    margin: 0 30px;
}
@media(max-width: 360px){
    .gym-fit img{
        width: 80vmin;
        margin: 0;
        padding: auto;
        justify-content: center;
    }
}
.from-blog figcaption span{
    font-size: 0.6em;
}
.gym-fit figcaption{
    color: white;
    line-height: 30px;
    font-size: 1.5vmax;
}
.details{
    background-color:rgb(22, 22, 22);
    height: 50vh;
    padding: 0 70px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    color: white;
    gap: 30px;
}
.detail-cont .box{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: red;
}
.detail-cont{
    display: flex;
    align-items:center;
    gap: 20px;
}
.detail-cont span{
    font-size: 1.7em;
    line-height: 50px;
}
.detail-cont p{
    font-size: 2.3vmin;
}